.head-container {
    display: flex;
    height: 600px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    border: 2px solid #0034fd;
    border-radius: 4%;
    height: 50%;
    width: 250px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.container input {
    height: 20px;
    outline: none;
    border: 2px solid #0034fd
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.button {
    font-size: 30px;
    height: 50px;
    min-width: 70px;
    background-color:  #1ea7fd;
    color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid  #0034fd;
    user-select: none;
}

.button:hover {
    background-color: #53C7FD;
}

.button:disabled {
    background-color: #89d9fd;
    border: 2px solid #1ea7fd
}

.button:active {
    background-color: #FFFFFF;
    color: #1ea7fd;
}

.error {
    color: red;
}

.error#input {
    border-color: red;
    background-color: rgba(255,116,97,0.47);
    color: red;
}
