.nav {
    height: 10%;
    margin: 0 0 0 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2em;
    top: 40%;
    left: 5%;
}

.link {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

.active {
    margin-left: 0;
    color: #dc971d;
}

.active:before {
    display: inline-block;
    content: '';
    background-image: url('./next-svgrepo-com.svg');
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
}